/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-image:-webkit-linear-gradient(180deg, white 0%, rgb(0, 0, 0) 0%, rgb(83, 52, 109) 76%);
    background-image: linear-gradient(270deg, white 0%, rgb(0, 0, 0) 0%, rgb(83, 52, 109) 76%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#text {
    float: left;
    font-size: 2em;
    width: 12.71406%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 17.244925%;
    margin-top: 5px;
    clear: none;
    min-height: 66px;
    font-family: arial;
}

#textspan1 {
    float: none;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#text1 {
    float: left;
    font-size: 2.5em;
    width: 22.615271%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 8.406331%;
    margin-top: 35.5px;
    clear: none;
    min-height: 40px;
    font-family: abel;
    display: block;
    margin-right: 0%;
    color: rgb(49, 130, 84);
}

#box1 {
    float: left;
    height: 89px;
    margin: 16.40625px 0% 0px 1.5625%;
    clear: both;
    width: 40.690452%;
    display: block;
    min-height: 0px;
}

#input {
    float: left;
    height: 51px;
    font-size: 1.5em;
    margin: 10px 0% 0px;
    clear: none;
    width: 30%;
    font-family: abel;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    background-color: rgba(28, 216, 210, 0.8);
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#input1 {
    float: left;
    height: 51px;
    font-size: 1.5em;
    margin: 10px 0% 0px 2%;
    clear: none;
    width: 30%;
    font-family: abel;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(28, 216, 210, 0.8);
}

#input2 {
    float: left;
    height: 51px;
    font-size: 1.5em;
    margin: 10px 0% 0px 2%;
    clear: none;
    width: 30%;
    font-family: abel;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(28, 216, 210, 0.8);
}

#box {
    float: left;
    height: auto;
    margin-left: 1.5625%;
    margin-top: 42.5px;
    clear: both;
    width: 42.242503%;
}

#image {
    float: left;
    width: auto;
    max-width: 38.093825%;
    height: auto;
    margin: 6px 0% 0px 1.673418%;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}

#text2 {
    float: left;
    font-size: 1em;
    /*width: 15.94%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 15.1875px 0% 0px 1.661557%;
    clear: both;
    min-height: 25px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
}

#text3 {
    float: left;
    font-size: 1em;
    /*width: 15.94%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 8px 0% 0px 1.55%;
    clear: both;
    min-height: 25px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
    min-width: 0px;
}

#text4 {
    float: left;
    font-size: 1em;
    /*width: 15.935571%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 8px 0% 0px 1.55%;
    clear: both;
    min-height: 25px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
}

#text5 {
    float: left;
    font-size: 1em;
    /*width: 15.935571%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 8px 0% 0px 1.67%;
    clear: both;
    min-height: 25px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
}

#text6 {
    float: left;
    font-size: 1em;
    /*width: 15.935571%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 8px 0% 0px 1.55%;
    clear: both;
    min-height: 25px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
}

#text7 {
    float: left;
    font-size: 1em;
    /*width: 15.935571%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 8px 0% 0px 1.55%;
    clear: both;
    min-height: 25px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
}

#text8 {
    float: left;
    font-size: 1em;
    /*width: 15.935571%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 8px 0% 0px 1.67%;
    clear: both;
    min-height: 25px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
}

#box2 {
    float: left;
    height: auto;
    margin: -423.1875px 0% 0px 8.980648%;
    clear: none;
    width: 41.231806%;
    display: block;
}

#box3 {
    float: left;
    height: 115.21875px;
    margin: 0px 0% 0px 0.14790468%;
    clear: none;
    width: 99.849409%;
    display: block;
    min-height: 0px;
}

#text9 {
    float: left;
    font-size: 1.5em;
    /*width: 62.64129%;*/
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.327311%;
    margin-top: 3.21875px;
    clear: none;
    min-height: 0px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0%;
}

#input3 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.737671%;
    clear: both;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#input4 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.311724%;
    clear: none;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#input5 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.497157%;
    clear: none;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#box4 {
    float: left;
    height: 115.21875px;
    margin: 15px 0% 0px 0.15%;
    clear: both;
    width: 99.849408%;
    display: block;
    min-height: 0px;
}

#text10 {
    float: left;
    font-size: 1.5em;
    width: 62.64129%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.327311%;
    margin-top: 3.21875px;
    clear: none;
    min-height: 0px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0%;
}

#input6 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.737671%;
    clear: both;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#input7 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.311724%;
    clear: none;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#input8 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.497157%;
    clear: none;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#box5 {
    float: left;
    height: 115.21875px;
    margin: 15px 0% 0px 0.15%;
    clear: both;
    width: 99.849408%;
    display: block;
    min-height: 0px;
}

#text11 {
    float: left;
    font-size: 1.5em;
    width: 62.64129%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.327311%;
    margin-top: 3.21875px;
    clear: none;
    min-height: 0px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
    margin-right: 0%;
}

#input9 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.737671%;
    clear: both;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#input10 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.311724%;
    clear: none;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#input11 {
    float: left;
    height: 69px;
    font-size: 1.5em;
    margin: 9px 0% 0px 2.497157%;
    clear: none;
    width: 30%;
    font-family: arial;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: static;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0px solid rgb(40, 178, 99);
    display: block;
    background-color: rgb(40, 178, 99);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#box6 {
    float: left;
    height: auto;
    margin: 15px 0% 0px 0.2%;
    clear: both;
    width: 99.848009%;
    display: block;
    min-height: 0px;
}

#text12 {
    float: left;
    font-size: 1.5em;
    width: 62.64129%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 7.22px 0% 0px 2.33%;
    clear: none;
    min-height: 0px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
}

#text13 {
    float: left;
    font-size: 1em;
    width: 95.190702%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 7.21875px 0% 0px 2.327959%;
    clear: both;
    min-height: 104.421875px;
    font-family: abel;
    color: rgb(255, 255, 255);
    display: block;
    border: 1px solid rgb(255, 255, 255);
}

