{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
	<link rel="stylesheet" href='{% static "css/boilerplate.css" %}'>
	<link rel="stylesheet" href='{% static "css/feed.css" %}'>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/abel:n4:all.js"></script>
    </head>
    <body>
     <a href="/logout/"><button>Logout</button></a>
    <div id="primaryContainer" class="primaryContainer clearfix">
        <p id="text">
        <span id="textspan">Nextdoor</span><span id="textspan1">&nbsp;</span><br />
        </p>
        <p id="text1">
        Feed Page
        </p>
        <div id="box" class="clearfix">
            <div id="box1" class="clearfix">
                <p id="text2">
                Hood
                </p>
                <div id="box2" class="clearfix">
                    {% for hood_feed in Hood %}
                    <a id="text{{forloop.counter0|add:value}}" href="{{hood_feed.tid}}">
                        {% if search %}
                            {% if search in hood_feed.tdesc %}
                                {{hood_feed.tdesc}}&nbsp;
                            {% endif %}
                        {% else %}
                                {{hood_feed.tdesc}}&nbsp;
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div id="box3" class="clearfix">
                <p id="text6">
                Block
                </p>
                <div id="box4" class="clearfix">
                    {% for block_feed in Block %}
                    <a id="text{{forloop.counter0|add:value1}}" href="{{block_feed.tid}}">
                    {{block_feed.tdesc}}&nbsp;
                    </a>
                    {% endfor %}
                    </a>

                </div>
            </div>
            <div id="box5" class="clearfix">
                <p id="text10">
                Friend
                </p>
                <div id="box6" class="clearfix">
                    {% for friend_feed in friend %}
                        {% if friend_feed.tdesc == user  %}
                            <a id="text{{forloop.counter0|add:value3}}" href="{{friend_feed.tid}}">
                            {{friend_feed.tdesc}}&nbsp;
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="box7" class="clearfix">
                <p id="text14">
                Neighbour
                </p>
                <div id="box8" class="clearfix">
                    {% for neighbour_feed in neighbour %}
                        {% if neighbour_feed.tdesc == user %}
                            <a id="text{{forloop.counter0|add:value4}}" href="{{neighbour_feed.tid}}">
                            {{neighbour_feed.tdesc}}&nbsp;
                            </a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        <form method="GET" action="/feed/" enctype="multipart/form-data">{% csrf_token %}
            Search: <br>
            <input type="text" name="Search" value="">
            <br>
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
    </body>
</html>
